* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    margin: 0px;
    min-height: 100%;
    width: 100%;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 86.08px;
    gap: 153px;
    padding: 16px 120px;
    background-color: #F1F5FE;
    width: 100%;
}

.logo {
    display: flex;
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    color: #155EEF;
    font-size: 33.28px;
    gap: 10px;
    width: 680px;
    height: 54.08px;
    letter-spacing: -0.02em;
}

ul {
    display: flex;
    align-items: center;
    gap: 97px;
    list-style: none;
    font-family: 'Halant', serif;
    font-weight: 500;
    font-size: 24px;
}

#one {
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0, 5px;
    color: #155EEF;
    width: 94px;
    height: 44px;
    border: 1px solid #155EEF;
    border-radius: 8px;
    background-color: #F1F5FE;
}

.bio {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 535px;
    padding-left: 0px;
    top: 80px;
    background-color: black;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    width: 900px;
    height: 335px;
    padding-left: 120px;
    padding-top: 102px;
    color: white;
}

#in {
    font-family: 'Halant', serif;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: #B8B8B8;
}

.name {
    font-family: 'Halant', serif;
    font-size: 56px;
    font-weight: 600;
    color: #FFFFFF;
}

#in2 {
    font-family: 'Manrope', sans-serif;
    font-size: 32px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: #A3A3A3;
}

#two {
    width: 164px;
    height: 44px;
    border: 1px solid #155EEF;
    border-radius: 8px;
    background-color: #155EEF;
    color: #FFFFFF;
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.5px;
    padding: 10px 16px;
    margin-top: 16px;
}

#joy {
    margin-top: 56px;
}

.about {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 438px;
    width: 100%;
    background-color: #F5F8FE;
    margin: 32px 0;
}

#bio {
    width: 516px;
    height: 374px;
    margin-left: 120px;
    margin-right: 133px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px 24px;
    gap: 32px;
    width: 623px;
    height: 374px;
}

h2 {
    font-family: 'Halant', serif;
    font-weight: 600;
    font-size: 32px;
}

#ADD {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 24px;
    text-align: justify;
    letter-spacing: 0.5px;
}

.button {
    display: flex;
    gap: 16px;
}

#three {
    width: 160px;
    height: 44px;
    border-radius: 8px;
    background-color: #155EEF;
    border: #155EEF;
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0, 5px;
    color: #FFFFFF;
}

#four {
    width: 160px;
    border: 1px solid #155EEF;
    border-radius: 8px;
    background-color: #F5F8FE;
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0, 5px;
    color: #155EEF;
}

footer {
    width: 100%;
    display: flex;
    background-color: #080808;
    align-items: center;
    justify-content: space-around;
}

.logo2 {
    display: flex;
    align-items: center;
    gap: 32px;
    font-family: 'Manrope', sans-serif;
    font-size: 33.28px;
    font-weight: 700;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}

.socials {
    display: flex;
    gap: 32px;
}

#end {
    font-family: 'Manrope', sans-serif;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: #FFFFFF;
}

#home {
    text-decoration: underline #155EEF;
}

@media screen and (max-width: 480px) {
    body {
        color: #080808;
    }

    nav {
        height: 50px;
        padding: 0 8px;
        gap: 181px;
        background-color: #FFFFFF;
    }

    .logo {
        width: 193.08px;
        padding: 0px
    }

    ul {
        display: none;
    }

    .bio {
        width: 398px;
        height: 664px;
        flex-direction: column;
    }

    .about {
        flex-direction: column;
        background-color: #FFFFFF;
        height: 281px;
    }

    #bio {
        display: none;
    }

    footer {
        flex-direction: column;
    }
}