* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    margin: 0px;
    min-height: 100%;
    width: 100%;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    /*height: 86.08px;*/
    gap: 153px;
    padding: 16px 120px;
    background-color: #F1F5FE;
    width: 100%;
}

.logo {
    display: flex;
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    color: #155EEF;
    font-size: 33.28px;
    gap: 10px;
    width: 50%;
    /*height: 54.08px;*/
    letter-spacing: -0.02em;
}

ul {
    display: flex;
    align-items: center;
    gap: 97px;
    list-style: none;
    font-family: 'Halant', serif;
    font-weight: 500;
    font-size: 24px;
}

#one {
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0, 5px;
    color: #155EEF;
    width: 94px;
    height: 44px;
    border: 1px solid #155EEF;
    border-radius: 8px;
    background-color: #F1F5FE;
}

.bio {
    display: flex;
    justify-content: space-around;
    width: 100%;
    /*height: 535px;*/
    padding-left: 0px;
    top: 80px;
    background-color: black;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    width: 57%;
    /*height: 335px;*/
    padding-left: 120px;
    padding-top: 102px;
    color: white;
}

#in {
    font-family: 'Halant', serif;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: #B8B8B8;
}

.name {
    font-family: 'Halant', serif;
    font-size: 56px;
    font-weight: 600;
    color: #FFFFFF;
}

#in2 {
    font-family: 'Manrope', sans-serif;
    font-size: 32px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: #A3A3A3;
}

#two {
    border: 1px solid #155EEF;
    border-radius: 8px;
    background-color: #155EEF;
    color: #FFFFFF;
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.5px;
    padding: 10px 16px;
    margin-top: 16px;
}

#joy {
    margin-top: 56px;
}

.about {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 438px;
    width: 100%;
    background-color: #F5F8FE;
    margin: 32px 0;
}

#bio {
    margin-left: 120px;
    margin-right: 133px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px 24px;
    gap: 32px;
    /* width: 623px;*/
}

h2 {
    font-family: 'Halant', serif;
    font-weight: 600;
    font-size: 32px;
}

#ADD {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 24px;
    text-align: justify;
    letter-spacing: 0.5px;
    width: 75%;
}

.button {
    display: flex;
    gap: 16px;
}

#three {
    width: 160px;
    height: 44px;
    border-radius: 8px;
    background-color: #155EEF;
    border: #155EEF;
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0, 5px;
    color: #FFFFFF;
}

#four {
    width: 160px;
    border: 1px solid #155EEF;
    border-radius: 8px;
    background-color: #F5F8FE;
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0, 5px;
    color: #155EEF;
}

.rec {
    background-color: #E6E6E6;
    height: 740px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 32px;

}


#rec {
    position: absolute;
}

.rec1 {
    position: absolute;
    width: 1272px;
    height: 611px;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 470px;
    /*width: 735px;*/
    background-color: #FFFFFF;
    position: absolute;
    padding-left: 40px;
    padding-right: 40px;
    left: 538px;
    top: 141px;
}

h3 {
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 0.5px;
    font-family: 'Halant', serif;
    padding-top: 64px;
}

#exp {
    font-size: 24px;
    font-weight: 500;
    font-family: 'Manrope', sans-serif;
    letter-spacing: 0.5px;
    text-align: justify;
    width: 654px;
    padding-top: 24px;
    padding-bottom: 16px;
}

.neji {
    display: flex;
    align-items: center;
    gap: 2px;
}

#neji {
    font-size: 24px;
    font-family: 'Halant', serif;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: #525252;
}

#line {
    font-weight: 300;
}

#senior {
    font-size: 16px;
    font-weight: 500;
    font-family: 'Halant', serif;
    letter-spacing: 0.5px;
    color: #525252;
}

.rec2 {
    display: none;
}

footer {
    width: 100%;
    display: flex;
    background-color: #080808;
    align-items: center;
    justify-content: space-around;
}

.logo2 {
    display: flex;
    align-items: center;
    gap: 32px;
    font-family: 'Manrope', sans-serif;
    font-size: 33.28px;
    font-weight: 700;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}

.socials {
    display: flex;
    gap: 32px;
}

#end {
    font-family: 'Manrope', sans-serif;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: #FFFFFF;
}

#home {
    text-decoration: underline #155EEF;
}

header {
    display: none;
}

#joy2 {
    display: none;
}

#footer2 {
    display: none;
}


@media screen and (max-width: 480px) {
    body {
        color: #080808;
    }

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #vector {
        padding-right: 10px;
    }

    .logoh {
        display: flex;
        align-items: center;
        color: #155EEF;
        font-size: 24px;
        font-family: 'Manrope', sans-serif;
        font-weight: 700;
    }

    .bio {
        align-items: center;
        height: 707px;
    }

    #joy {
        display: none;
    }

    #bio {
        display: none;
    }

    #joy2 {
        display: block;
    }

    #two {
        width: 95vw;
    }

    .intro {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0px;
        margin: 0px;
    }

    #in {
        font-size: 16px;
    }

    .name {
        font-size: 24px;
    }

    #in2 {
        font-size: 16px;
        width: 400px;
        text-align: center;
    }

    .info {
        /*width: 480px;*/
        align-items: center;
    }

    .about {
        /*width: 100vw;*/
        height: 300px;
        display: block;
        padding: 0px;
        margin: 0px;
    }

    h2 {
        font-size: 24px;
    }

    #ADD {
        font-size: 16px;
        width: 375px;
        margin-top: 0px;

    }

    .rec {
        display: none;
    }

    .rec2 {
        display: block;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #E6E6E6;
        height: 223px;
    }

    .text2 {
        display: flex;
        flex-direction: column;
        gap: 8px;
        width: 366px;
    }

    #h32 {
        font-size: 24px;
        font-weight: 600;
        letter-spacing: 0.5px;
        font-family: 'Halant', serif;
        color: #141414;
        padding: 0px;
        text-align: center;
    }

    #exp2 {
        font-family: 'Manrope', sans-serif;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.5px;
        color: #141414;
        text-align: justify;
    }

    .neji2 {
        display: flex;
        align-items: center;
        gap: 2px;
    }

    #neji2 {
        font-family: 'Halant', serif;
        font-size: 14px;
        font-weight: 600px;
        letter-spacing: 0.5px;
        color: #525252;
    }

    #line2 {
        font-family: 'Halant', serif;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0.5px;
        color: #525252;
    }

    #senior2 {
        font-family: 'Halant', serif;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 0.5px;
        color: #525252;
    }

    #footer1 {
        display: none;
    }

    #footer2 {
        display: flex;
        flex-direction: column;
        height: 122px;
    }

    .row1 {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 55px;
    }

    .logo2 {
        font-size: 24px;
        gap: 0px;
    }

    .socials {
        height: 25px;
    }

    #end {
        font-size: 16px;
    }

    nav {
        display: none;
    }
}